<p>
  voice-call works!
</p>

<div style="display:flex">
  <div style="width:50%">
    <p>own_uid: {{own_uid}}</p>

    <p>
      <button (click)="start_initialize()">start_initialize</button>
    </p>

    <p>
      <button (click)="create_stream()">create_stream</button>
      <button (click)="delete_stream()">delete_stream</button>
    </p>
    <p> localStreamId {{ localStreamId }}</p>
    <br><br>



    <ng-container *ngIf="is_webrtc_initialized">
        
      <br><br>
      <button (click)="join_room_a()">join_room_a</button>
      <button (click)="leave_room()">leave_room</button>
      <p>is_room_joined {{is_room_joined}}</p>

      <br><br>



      <button (click)="publish_stream()">publish_stream</button>
      <button (click)="unpublish_stream()">unpublish_stream</button>
      <br><br>

      <br><br>



      <div id="agora_local"></div>


      <br><br>

      <button (click)="speaker_on()">speaker_on</button>
      <button (click)="speaker_off()">speaker_off</button>
      <!-- is_speaker_on: {{is_speaker_on}} -->

      <br><br>


      <button (click)="microphone_on()">microphone_on</button>
      <button (click)="microphone_off()">microphone_off</button>
      <!-- is_microphone_on: {{is_microphone_on}} -->

    </ng-container>   

  </div>
  <div style="width:50%">

    <br>
    <p></p>
    <br><br><br>
    <lib-play-stream></lib-play-stream>


    <br><br><br>
    added

  </div>
</div>
