<p>
  second-before-enter-layout works!
</p>


<button (click)="test()"> test</button>

<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>
<button (click)="test()"> test</button>


<app-second-game></app-second-game>